[core]
	symlinks = false
	excludesfile = ~/.gitignore_globals
	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -nosession -noPlugin
	autocrlf = false
	safecrlf = warn
	hideDotFiles = dotGitOnly
	fscache = true
[user]
	name = Jeff McKenzie
	email = mail@mcknz.com
[github]
	user = mcknz
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	cam = commit --amend -C HEAD
	hist = log --graph --date=short --pretty=format:\"%C(yellow)%h%C(reset) %C(green)%ad%C(reset) %C(red)|%C(reset) %s%d %C(bold blue)%an%C(reset)\"
	glog = log --graph --date=relative
	diffstat = diff --stat
	diffword = diff --word-diff
	chry = cherry-pick
	gka = 'gitk --all'
	sr = svn rebase
	ai = add -i
	puom = push -u origin master
	puow = push -u origin working
[branch]
	autosetuprebase = always
[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
	interactive = auto
	showbranch = auto
[color "branch"]
	current = reverse yellow
	local = yellow
	remote = green
[color "diff"]
	meta = bold yellow
	frag = bold magenta
	old = bold red
	new = bold green
	plain = normal
	whitespace = reverse normal
[color "status"]
	header = normal
	added = yellow
	changed = green
	untracked = cyan
	nobranch = red
[diff]
	tool = winmerge
	guitool = winmerge
[difftool]
	tool = winmerge
	prompt = false
[difftool "winmerge"]
	cmd = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe' -e -u \"$LOCAL\" \"$REMOTE\"
	path = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe'
[diff "astextplain"]
	textconv = astextplain
[help]
	format = html
[merge]
	tool = winmerge
	defaultToUpstream = true
[mergetool "winmerge"]
	cmd = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe' \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = false
	path = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe'
[credential]
	helper = !'C:/Users/jmckenzie/AppData/Roaming/GitCredStore/git-credential-winstore.exe'
[push]
	default = simple
[rebase]
	autosquash = true
[http]
	sslCAInfo = C:/Program Files/Git/mingw64/ssl/certs/ca-bundle.crt
[diff "astextplain"]
	textconv = astextplain