[core]
	excludesfile = ~/.gitignore_globals
	editor = 'C:/DevStuff/Apps/Notepad++/notepad++.exe' -multiInst -nosession -noPlugin
	autocrlf = false
	safecrlf = warn
	hideDotFiles = dotGitOnly
[user]
	name = Jeff McKenzie
	email = mail@mcknz.com
[github]
	user = mcknz
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	cam = commit --amend -C HEAD
	hist = log --graph --date=short --pretty=format:\"%C(yellow)%h%C(reset) %C(green)%ad%C(reset) %C(red)|%C(reset) %s%d %C(bold blue)%an%C(reset)\"
	glog = log --graph --date=relative
	diffstat = diff --stat
	diffword = diff --word-diff
	chry = cherry-pick
	gka = 'gitk --all'
	sr = svn rebase
	ai = add -i
	puom = push -u origin master
	puow = push -u origin working
[branch]
	autosetuprebase = always
[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
	interactive = auto
	showbranch = auto
[color "branch"]
	current = reverse yellow
	local = yellow
	remote = green
[color "diff"]
	meta = bold yellow
	frag = bold magenta
	old = bold red
	new = bold green
	plain = normal
	whitespace = reverse normal
[color "status"]
	header = normal
	added = yellow
	changed = green
	untracked = cyan
	nobranch = red
[diff]
	tool = winmerge
	guitool = winmerge
[difftool]
	tool = araxis
	prompt = false
[merge]
	tool = winmerge
	defaultToUpstream = true
[push]
	default = tracking
[difftool "araxis"]
	path = "C:\\Program Files\\Araxis\\Araxis Merge\\compare.exe"
[difftool "winmerge"]
	cmd = \"c:/DevStuff/Apps/winmerge/winmergeu.exe\" -e -u \"$LOCAL\" \"$REMOTE\"
	path = c:/DevStuff/Apps/winmerge/winmergeu.exe
[mergetool "winmerge"]
	cmd = 'c:/DevStuff/Apps/winmerge/winmergeu.exe' \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = false
	path = c:/DevStuff/Apps/winmerge/winmergeu.exe
[credential]
	helper = !\"C:/Program Files (x86)/GitExtensions/GitCredentialWinStore/git-credential-winstore.exe\"
